@charset "utf-8";

body,
html {
  margin: 0;
  padding: 0;
}

.main {
  position: relative;
  background: #fafafa;
}

/* 当屏幕宽度小于601px时，样式改变 */
* {
  box-sizing: border-box;
}

.main:after {
  content: "";
  clear: both;
  display: block;
}

.col-md-1 {
  width: 8.33%;
}

.col-md-2 {
  width: 16.66%;
}

.col-md-3 {
  width: 25%;
}

.col-md-4 {
  width: 33.33%;
}

.col-md-5 {
  width: 41.66%;
}

.col-md-6 {
  width: 50%;
}

.col-md-7 {
  width: 58.33%;
}

.col-md-8 {
  width: 66.66%;
}

.col-md-9 {
  width: 75%;
}

.col-md-10 {
  width: 83.33%;
}

.col-md-11 {
  width: 91.66%;
}

.col-md-12 {
  width: 100%;
}

[class*="col-md-"] {
  float: left;
  padding: 0;
  margin: 0;
}


/* 当屏幕宽度不超过900px */
@media only screen and (max-width: 900px) {

  /* For mobile phones: */
  [class*="col-md-"] {
    width: 100%;
    text-align: center;
  }

  .na,
  .call,
  .open a {
    display: none;
  }

  /* 导航展示 */
  input[type=checkbox]:checked~.na {
    display: block;
  }

  .na {
    width: 100%;
    margin-top: 70px;
    padding-right:0 !important;
    text-align: center;
  }

  .na .lead {
    background: #29b078;
    width: 100%;
  }

  .na .lead a {
    margin-top: 20px;
    height: 40px !important;
    display: inline-block;
  }

  .lead:hover,
  .lead:visited {
    background: #47d197;
  }

  .lead a:hover::after {
    content: "";
    display: none;
  }

  .lore {
    width: 100%;
    display: block;
    position: absolute;
  }

  .bian [class*="col-md-"] {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .study {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .footer {
    display: flex;
    flex-direction: column;
  }

}

/* 当屏幕宽度超过901px */
@media only screen and (min-width: 901px) {

  /* For mobile phones: */
  .bar,
  .lore {
    display: none;
  }

}

/* 当屏幕宽度超过601px，小于1024px */
@media only screen and (min-width: 601px) and (max-width:1024px) {
  /* .study .col-md-2 */
}

/* 头部客服热线以及微信、qq、微博小图标 */
.top {
  width: 100vw;
  height: 45px;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-around;
  padding-top: 10px;
}

.call {
  color: #42b683;
}

.header .open {
  display: flex;
}

.open .wx,
.qq,
.weibo {
  padding-left: 15px;
}

/* 登录和注册 */
.lore {
  position: absolute;
  top: 10px;
  width: 80px;
  right: 0;
}

.login {
  position: relative;
}

.login::after {
  content: "";
  width: 1px;
  height: 12px;
  display: inline-block;
  background: #29b078;
  position: absolute;
  bottom: 2px;
  right: -3px;
}


/* 导航栏 */
.navi {
  position: relative;
  background: #29b078;
  width: 100vw;
  line-height: 50px;
}

.na {
  float: right;
  padding-right: 20%;
  background: #29b078;
}

.na .lead {
  display: inline-block;
  padding-right: 30px;
  position: relative;
}


.navi .lead a {
  color: white;
  font-size: 18px;
  text-decoration: none;
  display: inline-block;
  height: 65px;
}

.lead a:hover::after {
  content: "";
  position: absolute;
  /* display: inline-block; */
  background: white;
  width: 38px;
  height: 3px;
  bottom: -20px;
  left: 0;
}

/* 当屏幕小于一定宽度时，出现导航按钮  */
.dropdown {
  width: 100vw;
  padding-top: 20px;
  padding-bottom: 20px;
}

input[type=checkbox] {
  display: none;
}

.na-l {
  position: absolute;
  top: 30px;
  left: 70px;
}

.bar {
  position: absolute;
  right:30px;
  top: 25px;
  float: right;
  background: #47d197;
  height: 50px;
  width: 50px;
  border-radius: 8px;
}

.sbar {
  margin: 9px 10px 9px 10px;
}

.bar1,
.bar2,
.bar3 {
  background: #2f8561;
  width: 30px;
  height: 4px;
  margin-top: 10px;
}


/* 轮播图 */

.slide,
.item {
  width: 100vw;
}

.item img {
  width: 100%;
  height: 100%;
}

.carousel .carousel-control {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* 高效、规范、人脉 */
.bian,
.study,
.student,
.partner {
  padding: 5%;
}

.bian {
  display: flex;
  justify-content: space-around;
  flex-flow: wrap;
}

.bian .img {
  width: 60px;
  height: 60px;
}

.bian .col-md-2 {
  margin: 10px;
}

.line {
  position: relative;
}

.bian .line::after {
  content: "";
  height: 100%;
  display: inline-block;
  background: white;
  position: absolute;
  top: 0;
  right: -30px;
  border: 1px dashed #dedede;
}

.bian .col-md-2,
.bian .col-md-2 .img,
.student .col-md-2 .img {
  text-align: center;
}


.bian .col-md-2 p,
.bian .col-md-3 p,
.student .col-md-2 p {
  color: #999999;
  text-align: left;
}

/* 在线人数 */
.ren {
  padding-top: 60px;
  font-size: 18px;
}

.renshu span {
  color: #26a26f;
  padding-left: 10px;
}

/* 如何学习 */
h3 {
  text-align: center;
  padding-bottom: 40px;
}

/* 小圆块 */
.study .order {
  display: inline-block;
  background: white;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  box-shadow: 0px 2px 5px 2px #e2e2e2;
  text-align: center;
  line-height: 70px;
  font-size: 18px;
  color: #29b078;
  position: absolute;
  left: 0;
}

.study .col-md-2 {
  display: flex;
  align-items: center;
  position: relative;
  margin-right: 80px;
  margin-bottom: 20px;
  height: 12rem;
}

.study .text {
  display: inline-block;
  font-size: 1.4rem;
  color: #999999;
  padding-left: 70px;
  padding-right: 20px;
  line-height: 25px;
  align-items: center;
}

/* .study .sd::after {
  content: url(./img/fly.png);
  display: inline-block;
  width: 16px;
  height: 15px;
  vertical-align: middle;
  position: absolute;
  top: 60px;
  right:0;
} */


/* 优秀学员展示 */

.student .col-md-2 {
  background: white;
  margin-left: 20px;
  margin-bottom: 20px;
  text-align: center;
}

/* 换页小圆点 */
.nextpage {
  width: 100%;
  display: flex;
  justify-content: center;
}

/* 战略合作企业 */
.partner {
  text-align: center;
}

.part {
  box-shadow: 1px 1px 1px 1px #e2e2e2;
  display: flex;
  flex-flow: wrap;
  line-height: 176px;
}

.partner a {
  background: white;
  width: 240px;
  height: 176px;
  background-size: 100% 100%;
}

/* 友情链接 */
.flink {
  background: white;
}

.flink ul {
  display: flex;
  padding: 0 90px 0 90px;
  flex-flow: wrap;
}

.flink ul li {
  padding: 0 58px 16px 0;
  color: #999999;
}

.flink a {
  color: #999999;
}

/* footer */
.footer {
  background: #26a26f;
  padding: 0 70px 0 70px;
  display: flex;

}

/* 底部左边 */
.footer .left,
.center,
.right {
  color: white;
  font-size: 18px;
  padding-top: 20px;
}

.footer .text {
  padding-top: 50px;
}

.footer .left a {
  position: relative;
  font-size: 16px;
  padding-right: 20px;
  color: white;
}

.left .text .al::after {
  content: "";
  display: inline-block;
  position: absolute;
  bottom: 0;
  background: white;
  width: 2px;
  height: 16px;
  margin-left: 10px;
}

/* 底部中间 */
.footer .center .link {
  padding-top: 20px;
}

.footer .center a {
  color: white;
  font-size: 16px;
  padding-right: 15px;
  line-height: 20px;
}

/* 底部右边 */
.footer .right {
  text-align: center;
}

/* 版权说明 */
.cr {
  padding: 10px 0 10px 0;
  background: #26a26f;
  color: white;
  text-align: center;
}
